.redbutton {
    background: red;
    font-size: 50px;
}
.burger{
    font-size: 50px;
}
.bug{
    font-size: 50px;
}
.hug{
    font-size: large;
    background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
border-radius: 50px;
}
.hug:hover{
    background:green;
}